## Notebook de Analisis de Afluenta

In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls

afluenta.csv		    LenderAccountBug.ipynb	README.md
afluenta - Sheet1.csv	    LenderAccountMovements.xls
fastInterestAnalysis.ipynb  LenderProfitProjection.xls

In [4]:
pd.read_excel?

In [12]:
df = pd.read_csv('LenderAccountMovements.csv',index_col=None,sep="|")
df.columns

Index(['Fecha', 'Operación', 'Débitos', 'Créditos', 'Saldo'], dtype='object')

In [13]:
df.head()

,Fecha,Operación,Débitos,Créditos,Saldo
0,22/11/2016 23:24,"Comisión Afluenta: #AR-221607-G0009 (4/24) $ 6,90",0.14,NaN,21928.17
1,22/11/2016 23:24,"Retorno por cuota: #AR-221607-G0009 (4/24) $ 6,90",NaN,4.14,21928.31
2,22/11/2016 23:21,"Comisión Afluenta: #AR-301609-G0003 (2/48) $ 8,79",0.18,NaN,21924.17
3,22/11/2016 23:21,"Retorno por cuota: #AR-301609-G0003 (2/48) $ 8,79",NaN,7.11,21924.35
4,21/11/2016 10:51,Comisión Afluenta: #AR-241607-I0004 (3/24) $ 1...,0.26,NaN,21917.24

In [17]:
# get datatypes and null vals
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 796 entries, 0 to 795
Data columns (total 5 columns):
Fecha        796 non-null object
Operación    796 non-null object
Débitos      400 non-null float64
Créditos     396 non-null float64
Saldo        796 non-null float64
dtypes: float64(3), object(2)
memory usage: 31.2+ KB

In [18]:
## fill null vals with 0
numeric_cols = [df.columns[-3:]]
for col in numeric_cols:
    df[col] = df[col].fillna(0)

#set datetime col
col = 'Fecha'
df[col] = pd.to_datetime(df[col])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 796 entries, 0 to 795
Data columns (total 5 columns):
Fecha        796 non-null datetime64[ns]
Operación    796 non-null object
Débitos      796 non-null float64
Créditos     796 non-null float64
Saldo        796 non-null float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 31.2+ KB

In [20]:
# check accounting i.e. inputs - outputs == current_holdings
input_money = df['Créditos'].sum() 
output_money = df['Débitos'].sum()  

last_balance = df['Saldo'].iloc[0]

In [21]:
last_balance

21928.169999999998

In [23]:
input_money

22322.079999999998

In [24]:
output_money

393.90999999999997

In [22]:
input_money - output_money == last_balance

True